<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomGameManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CustomGameManager.Properties.Settings>
            <setting name="one" serializeAs="String">
                <value />
            </setting>
            <setting name="two" serializeAs="String">
                <value />
            </setting>
            <setting name="three" serializeAs="String">
                <value />
            </setting>
            <setting name="four" serializeAs="String">
                <value />
            </setting>
            <setting name="five" serializeAs="String">
                <value />
            </setting>
            <setting name="six" serializeAs="String">
                <value />
            </setting>
            <setting name="seven" serializeAs="String">
                <value />
            </setting>
            <setting name="eight" serializeAs="String">
                <value />
            </setting>
            <setting name="nine" serializeAs="String">
                <value />
            </setting>
            <setting name="ten" serializeAs="String">
                <value />
            </setting>
            <setting name="bgColor" serializeAs="String">
                <value />
            </setting>
            <setting name="buttonColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="ButtonStyle" serializeAs="String">
                <value>0</value>
            </setting>
        </CustomGameManager.Properties.Settings>
    </userSettings>
</configuration>